{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'asha' %}">Fad Fashion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'asha' %}">Home <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link">Select your choice</a>-->
<!--      </li>-->
        <div class="btn-group">
  <button type="button" class="btn btn-primary">Select your choice</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'thakur' %}">Men</a>
          <a class="dropdown-item" href="{% url 'kumari' %}">Women</a>
            <a class="dropdown-item" href="{% url 'kids' %}">Kids</a>
        </div>
        </div>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="row">
    {% for offer in data %}
    <div class="col">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ offer.image_url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ offer.name }}</h5>
    <p class="card-text">Rs.{{offer.price}}</p>
<!--    <a href="#" class="btn btn-primary">Add to cart</a>-->
  </div>
</div>
        </div>

    {% endfor %}

</div>
{% endblock %}